body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #91c5cc;
}
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #9899c9;
}
.link {
  text-decoration: none;
  color: #97aed1;
  transition: color 0.5s;
}

.link:hover {
  color: #9abacf;
} 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  .nav-link {
    transition: .3s;
  }
  .section-item a {
    color: #859fc0;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #b590c0;
  }
  html {
    scroll-behavior: smooth; 
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }


